bloco7_autoenconders/data/MNIST/raw/t10k-images-idx3-ubyte
bloco7_autoenconders/data/MNIST/raw/t10k-images-idx3-ubyte.gz
bloco7_autoenconders/data/MNIST/raw/t10k-labels-idx1-ubyte
bloco7_autoenconders/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
bloco7_autoenconders/data/MNIST/raw/train-images-idx3-ubyte
bloco7_autoenconders/data/MNIST/raw/train-images-idx3-ubyte.gz
bloco7_autoenconders/data/MNIST/raw/train-labels-idx1-ubyte
bloco7_autoenconders/data/MNIST/raw/train-labels-idx1-ubyte.gz
